#General
*.orig
~*
*~
*.bak

# Gradle
build/
.gradle/

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml

# Eclipse
.classpath
.project
.settings/
.metadata/
.factoryPath
bin/

# Netbeans
**/nb-configuration.xml
